div {
	box-sizing: border-box;
}

#errorLabel {
	display: none;
	color: red;
}

#currentTargets {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	margin: 2% 0 0 5%;
}

.userDiv {
	border: 1px solid black;
	margin: 1%;
	min-width: 400px;
	background-color: #1A2632;
}

.userBackground {
	width: 100%;
	height: 10%;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 1px solid black;
}

.userImageDiv {
	width: 15%;
	margin: -7% 0 0 2%;
}

.userImage {
	width: 100%;
	border: 2px solid #1A2632;
	border-radius: 50%;
}

.userDataDiv {
	width: 100%;
	text-align: center;
	color: white;
	margin: -5% 0 2%;
}
